:root {
    --darkest: #222;
    --shade0: #555;
    --shade1: #999;
    --shade2: #aaa;
    --shade3: #bbb;
    --shade4: #f1f1f1;
    --lightest: #f8f8f8;
    --accent1: #f93908;
    --accent2: #336600;
}

.preload h1 {
    -webkit-transition: none;
    transition: none;
}

body {
    font-family: "Roboto Mono", monospace;
    max-width: 800px;
    min-width: 320px;
    margin: 0 auto 20px auto;
    background-color: var(--shade4);
}

header {
    background-color: var(--shade1);
    width: 100%;
    color: var(--shade3);
}

header > h1 {
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}
header:hover {
    color: var(--accent1);
}

a {
    text-decoration: none;
    color: var(--darkest);
}

h1 {
    margin: 0;
    padding: 1em 0 0 .2em;
    display: inline-block;
}

h2 {
    border: solid 1px var(--shade2);
    font-weight: normal;
    margin: 0.8em 0.5em 0.8em 0.5em;
    font-size: 1.85em;
    padding: 0.2em 0.25em 0.25em 0.2em;
    color: var(--darkest);
    word-wrap: break-word;
}

h3 {
    font-size: 1.8em;
    font-weight: normal;
    margin-bottom: 4px;
    color: var(--shade0)
}

h5,
h6 {
    font-weight: normal
}

.author {
    margin: 0 0 4px 0;
    color: var(--shade1)
}

label {
    font-size: 20px;
    padding: 8px 8px 4px 8px;
    display: block;
}

textarea {
    padding: .5em;
    margin: 4px 8px 0 8px;
    resize: none;
    max-width: calc(100% - 38px);
    margin: 0 8px;
}

input[type=text],
input[type=password],
textarea {
    background-color: var(--lightest);
    border: 1px solid var(--shade3);
    font-size: 20px;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
    background-color: white;
}

.comment-heading {
    display: inline-block;
    margin-right: 16px;
}

.nav-link.edit-link:hover {
    background-color: var(--accent1);
}

.nav-link.little-edit {
    font-size: .7em;
    margin-top: -6px;
}

.post-date {
    margin-top: 8px;
    margin-bottom: 16px;
    color: var(--darkest);
}

.center {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.nav-link {
    margin-top: .25em;
    background-color: var(--shade3);
    padding: .1em .6em .1em .6em;
    display: inline-block;
    font-size: 16px;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.nav-link + .nav-link {
    margin-left: 30px;
}

.nav-link:hover {
    background-color: var(--accent2);
    color: var(--shade4);
}

.nav-link:focus {
    background-color: var(--accent2);
    color: var(--shade4);
}

.upper-nav {
    margin-left: 0;
    margin-top: 8px;
    padding: .1em .3em .1em .3em;
}

.upper-nav:hover {
    background-color: var(--accent1);
}

.upper-nav:focus {
    background-color: var(--accent1);
}

.block {
    display: inline-block;
    height: 21px;
    margin-bottom: 4px;
    border-bottom: 2px solid var(--darkest);
}

.left-block {
    width: 20px;
    border-left: 2px solid var(--darkest);
}

.right-block {
    width: 20px;
    border-right: 2px solid var(--darkest);
}

.inner-block {
    width: 30px;
}

.nav-link.upvote-counter {
    display: inline-block;
    border-top: 1px Solid var(--shade1);
    border-left: 1px Solid var(--shade1);
    border-bottom: 1px Solid var(--shade1);
    background-color: var(--shade4);
    margin-right: 0;
    text-align: right;
}

.nav-link.upvote-counter:hover {
    background-color: var(--shade4);
    color: var(--darkest);
}

.nav-link.upvote {
    background-color: var(--shade1);
    border: solid 1px var(--shade1);
    color: var(--shade4);
    margin: 0;
    padding-bottom: 2px;
    -webkit-transition: border 0.5s, background-color 0.5s;
    transition: border 0.5s, background-color 0.5s;
}

.upvote:hover {
    border: 1px solid var(--accent2);
    background-color: var(--accent2);
}

.error {
    color: var(--accent1);
}

.bare-link {
    color: var(--accent2);
}


.normal-submit {
    background-color: var(--shade1);
    color: var(--darkest);
    border: none;
    padding: .25em 1.5em .25em 1.5em;
    font-size: 1em;
    margin-top: 1.15em;
    border-radius: 3px;
    font-family: "Roboto Mono", monospace;
}

.normal-submit:hover {
    background-color: var(--accent1);
    color: var(--lightest);
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.msg {
    float: right;
    color: var(--shade0);
    padding: 2.5em 1em 0 .25em;
}

.post:hover > section {
    background-color: white;
}

.post:hover > div > h3 {
    color: var(--darkest);
}

.post-content {
    background-color: var(--lightest);
    border: solid 1px var(--shade3);
    padding: 1em 1.25em 1em 1.25em;
    margin: 0 8px 4px 8px;
    font-family: "EB Garamond", serif;
    font-size: 20px;
}

.comment {
    max-width: 100%;
}

.comment-content {
    margin: 0 15% 0 15%;
    font-size: 16px;
    word-wrap: break-word;
}

.comment-heading {
    margin-top: 4px;
}

.full-width {
    width: 100%;
}

.create-post {
    width: calc(100% - 20px);
    margin: 0 8px;
    font-size: 16px;
}

.edit-comment {
    height: 100px;
}

.content-box {
    height : 400px;
    font-family: "EB Garamond", serif;
    font-size: 20px;
}

@media only screen and (max-width: 654px) and (min-width: 528px) {
    h2 .delete-dialogue {
        font-size: 1.4em;
    }

    .left-block,
    .right-block {
        display: none;
    }

    .inner-block {
        width: 16px;
    }
}

@media only screen and (max-width: 527px) {
    h2 {
        font-size: 1.7em;
        font-weight: bold;
    }

    .delete-dialogue {
        font-size: 1.3em;
        font-weight: normal
    }

    .left-block,
    .right-block {
        display: none;
    }

    .inner-block {
        width: 16px;
        border: none;
    }

    .nav-link {
        font-size: 14px;
    }

    .nav-link + .nav-link {
        margin-left: 12px;
    }

    .nav-link.upvote {
        margin-left: 0;
    }
}
