<!DOCTYPE html>
<html lang=en>
    <head>
        <link type="text/css" rel="stylesheet" href="/static/style.css" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
        <title>NateBlog{% block title%}{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|EB+Garamond" rel="stylesheet">
    </head>
    <body>
        <a href="/blog" id="a-header">
        <header>
            <h1>NateBlog</h1>
            {% block header %}
            {% endblock %}
            <div class="msg">
                {% if msg: %}
                {{msg}}
                {% endif %}
            </div>
        </header>
        </a>
        <div class="block left-block"></div><a href="/blog/signup" class="nav-link upper-nav">signup</a><div class="block inner-block"></div><a href="/blog/login" class="nav-link upper-nav">login</a><div class="block inner-block"></div><a href="/blog/newpost" class="nav-link upper-nav">post</a><div class="block inner-block"></div><a href="/blog/myposts" class="nav-link upper-nav">my posts</a>
        <br>
    {% block content %}

    {% endblock %}
    </body>
</html>
