<!DOCTYPE html>
<html lang=en>
    <head>
        <link type="text/css" rel="stylesheet" href="/static/style.css" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
        <title>NateBlog{% block title%}{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|EB+Garamond" rel="stylesheet">
    </head>
    <body>
        <a href="/blog" id="a-header">
        <header>
            <h1>NateBlog</h1>
            <div class="msg">
                {% block header %}
                {% endblock %}
            </div>
        </header>
        </a>
    {% block content %}
    {% endblock %}
    </body>
</html>
