{% block content %}
<div class="post">
    <div class="post-heading text-center">
        <h3>{{post.subject}}</h3>
        <h5 class="author">by <a href="/blog/postsby?p={{post.author}}"><b>{{post.author}}</b></a></h5>
        <h6 class="post-date">{{post.created.strftime("%I:%M %p %b %d, %Y")[1:]}}</h6>
    </div>
    <section class="post-content">
        {{post._render_text | safe}}
    </section>
    <div class="text-center">
        <div class="upvote-counter nav-link">
            +{{post.num_upvotes}}
            </div><a href="/blog/comments/{{post.key.urlsafe()}}?upvote=True" class="upvote nav-link">&#8593;</a>

        {% if post.num_comments > 0 and not view_comments %}
            <a href="/blog/comments/{{post.key.urlsafe()}}#comment" class="nav-link">View {{post.num_comments}} Comments</a>
        {% endif %}
        {% if not post_comment %}
            <a href="/blog/postcomment/{{post.key.urlsafe()}}#comment" class="nav-link">Post Comment</a>
        {% endif %}
        {% if username == post.author %}
            <a href="/blog/edit/{{post.key.urlsafe()}}" class="nav-link edit-link">Edit Post</a>
        {% endif %}
    </div>
</div>
{% endblock %}
