{% extends "base.html" %}
{% block title %} - Most Popular{% endblock %}
{% block header %}
    {% if msg %}
        {{msg}}
    {% endif %}
{% endblock %}
{% block content %}
    {% if logged_in: %}
        {% include "logged_in_bar.html" %}
    {% else: %}
        {% include "logged_out_bar.html" %}
    {% endif %}
    <h2>posts > most_popular</h2>
        {% if posts: %}
            {% for post in posts %}
                {{ post.render() | safe }}
                <br>
            {% endfor %}
        {% endif %}
{% endblock %}
