<div class="text-center">
    <div class="block left-block"></div><a href="/blog" class="nav-link upper-nav">recent</a><div class="block inner-block"></div><a href="/blog/popular" class="nav-link upper-nav">popular</a><div class="block inner-block"></div><a href="/blog/myposts" class="nav-link upper-nav">my posts</a><div class="block inner-block"></div><a href="/blog/newpost" class="nav-link upper-nav">create post</a><div class="block inner-block"></div><a href="/blog/logout" class="nav-link upper-nav">logout</a><div class="block right-block"></div>
</div>
<br>
