{% extends "base.html" %}
{% block header %}
    {{msg}}
{% endblock %}
{% block content %}
    <h2>self.login()</h2>
    <form method="post">
        <table class="center">
            <tr>
                <td>
                    Username:
                </td>
                <td>
                    <input type="text" name="username" size="15" style="display:inline;" value={% if username: %}{{username}}{% else: %}""{% endif %} />
                </td>
                <td class="error">
                    {% if u_error: %}
                        {{u_error}}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    Password:
                </td>
                <td>
                    <input type="password" name="password" size="15" style="display:inline;" value={% if password: %}{{password}}{% else: %}""{% endif %} />
                </td>
                <td class="error">
                    {% if p_error: %}
                        {{p_error}}
                    {% endif %}
                </td>
        </table>
        <div class="text-center">
            <input class="normal-submit center" type="submit" value="Submit"/>
        </div>
        <br>
        <div class="text-center">
            Don't have an account? <a href="/blog/signup" class="bare-link"><b>Create New Account</b></a>
        </div>
    </form>
{% endblock %}
