{% block content %}
<div class="post">
    <div class="post-heading text-center">
        <h3>{{post.subject}}</h3>
        <a href="/blog/postsby?p={{post.author}}"><h5 class="author">by <b>{{post.author}}</b></h5></a>
        <h6 class="post-date">{{post.created.strftime("%b %d, %Y")}}</h6>
    </div>
    <section class="post-content">
        {{post._render_text | safe}}
    </section>
    <div class="text-center">
        {% if post.num_comments > 0 %}
            <a href="/blog/comments/{{post.key.urlsafe()}}#comment" class="nav-link">View Comments</a>
        {% endif %}
        <a href="/blog/postcomment/{{post.key.urlsafe()}}#comment" class="nav-link">Post Comment</a>
        <a href="/blog/edit/{{post.key.urlsafe()}}" class="nav-link">Edit Post</a>
        <a href="/blog/delete/{{post.key.urlsafe()}}" class ="nav-link">Delete</a>
    </div>
</div>
{% endblock %}
