{% extends "base.html" %}
{% block title %} - Post Comment{% endblock %}
{% block content %}
    {% include "logged_in_bar.html" %}
    <h2>comment.post_new</h2>
    {{ post.render(post_comment=True) | safe }}
    <div class="full-width center">
        <form method=post>
            <a name="comment"></a>
            <label>Comment</label>
            <textarea class="create-post" name="content" value="{{content}}"></textarea>
            {% if error: %}
            <br>
            <div class="error">
                {{error}}
            </div>
            {% endif %}
            <div class="text-center">
                <input type=submit class="normal-submit"/>
            </div>
        </form>
    </div>
{% endblock %}
