{% extends "base.html" %}
{% block content %}
    <h2>comment.post_new()</h2>
    {{ post.render() | safe }}
    <div class="full-width center">
        <form method=post>
            <a name="comment"></a>
            <label>Comment</label>
            <textarea class="create-post" name="content" size=90 value="{{content}}"></textarea>
            {% if error: %}
            <br>
            <div class="error">
                {{error}}
            </div>
            {% endif %}
            <div class="text-center">
                <input type=submit />
            </div>
        </form>
    </div>
{% endblock %}
