{% extends "base.html" %}
{% block header %}
    {% if msg %}
        {{msg}}
    {% endif %}
{% endblock %}
{% block content %}
{% if logged_in: %}
    {% include "logged_in_bar.html" %}
{% else: %}
    {% include "logged_out_bar.html" %}
{% endif %}
    {{ post.render(view_comments=True, username=username) | safe }}
    <br>
    <br> <a name="comment"></a>
    {% if not comments: %}
        <div class="text-center">
            No comments yet. Check back later, or post your own!
        </div>
    {% else: %}
        {% for comment in comments: %}
            {{ comment.render(username=username) | safe }}
        {% endfor %}
    {% endif %}
{% endblock %}
